{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Affiliate</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/affiliate.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        {% include 'partials/_navbar.html' %}




        <!-- Page Content-->
        
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">

                <div class="col-lg-7">

                    <div  class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{% static 'img/dining-room.jpg' %}" width="700px" height="350px"  alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'img/dresses.jpg' %}"  width="700px" height="350px"  alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'img/technology.jpg' %}"  width="700px" height="350px"  alt="...">
                          </div>
                        </div>
                      </div>

                </div>

                
                <div class="col-lg-5">
                    
                    <h1 class="font-weight-light">GreenWatch Affiliate</h1>
                    <p>
                        As GreenWatch we market on various businesses and their products as affiliates. We market for all products for 
                        businesses like Jiji, Kilimall, Jumia etc and for commissions collected from wood based products, the money is directed 
                        towards tree planting initiatives by GreenWatch.
                    </p>
                    <p>
                        Purchase with us and contribute towards increasing our green spaces 
                    </p>
            
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-success my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Get the best deals available on our platform</p></div>
            </div>
            <!-- Content Row-->
             <h3>Deals</h3> 
             <hr>
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{% static 'img/laptop.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4 class="card-title">Laptops</h4>
                                </div>
                                <div class="col-5">
                                    <p class="fw-bold">Ksh 60,000</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">View info</a></div>
                    </div>
                </div>
                
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{% static 'img/office.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4 class="card-title">Office furniture</h4>
                                </div>
                                <div class="col-5">
                                    <p class="fw-bold">Ksh - </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">View info</a></div>
                    </div>
                </div>


                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{% static 'img/sofa.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4 class="card-title">Sofa Seats</h4>
                                </div>
                                <div class="col-5">
                                    <p class="fw-bold">Ksh -</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">View Info</a></div>
                    </div>
                </div>

            </div>

            <hr>

            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{% static 'img/grocery.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4 class="card-title">Groceries</h4>
                                </div>
                                <div class="col-5">
                                    <p class="fw-bold">Ksh -</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">View Info</a></div>
                    </div>
                </div>
                
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{% static 'img/cooking.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4 class="card-title">Cooking Ware</h4>
                                </div>
                                <div class="col-5">
                                    <p class="fw-bold">Ksh -</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">View Info</a></div>
                    </div>
                </div>


                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{% static 'img/cloth.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4 class="card-title">Clothes</h4>
                                </div>
                                <div class="col-5">
                                    <p class="fw-bold">Ksh -</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">View Info</a></div>
                    </div>
                </div>
                
            </div> 

            <hr>

            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{% static 'img/shoes.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4 class="card-title">Assorted shoes</h4>
                                </div>
                                <div class="col-5">
                                    <p class="fw-bold">Ksh -</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">View Info</a></div>
                    </div>
                </div>
                
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{% static 'img/technology.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4 class="card-title">Electronics</h4>
                                </div>
                                <div class="col-5">
                                    <p class="fw-bold">Ksh -</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">View Info</a></div>
                    </div>
                </div>


                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img src="{% static 'img/rolls.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <h4 class="card-title">Rolls of fabric</h4>
                                </div>
                                <div class="col-5">
                                    <p class="fw-bold">Ksh -</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">View Info</a></div>
                    </div>
                </div>
                
            </div>


        </div>


        {% include 'partials/_footer.html' %}
        

        <!-- Bootstrap core JS-->



        
    </body>
</html>
