{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="home-content mb-4" style="background-color: white;">
 <div class="container">
    <div class="row mb-2">
        <div class="col">

            <!--  main content -->

            <div class="sales-boxes responsive">
                <div class="recent-sales box">
                    <h4 class="text-success ml-4 fw-bold text-underline mb-3">Unlocking Benefits for Tree-Planting Groups !!</h4>
                  <p class="m-3">
                    At GreenLead, we are dedicated to empowering tree-planting groups and fostering accountability in their reforestation efforts. 
                    By registering with us, you gain access to a range of benefits and opportunities that will amplify the impact of your initiatives. Here's why you should join us:
                  </p>
                  <ul class="list-unstyled ">
                    <li class="m-2"><i class='bx bxs-star fs-5 m-1 fw-bold text-success'></i><strong class="fs-6">Funding Opportunities:</strong>
                        As a registered group, you become eligible for funding opportunities and incentives based on your performance and impact by companies like Climate Impact Partners, Terraformation, Verra etc.
                        Unlock financial support to further accelerate your reforestation efforts and expand the reach of your projects. 
                    </li>
                    <li class="m-2"><i class='bx bxs-star fs-5 m-1  fw-bold text-success'></i><strong>Increased Visibility:</strong> 
                        Registering with GreenLead exposes your tree-planting activities to a wider audience, attracting potential supporters, partners, and donors.
                    </li>
                    <li class="m-2"><i class='bx bxs-star fs-5 m-1  fw-bold text-success '></i><strong>Incentives and Rewards: </strong> 
                        By participating in GreenLead, you can unlock incentives and rewards for your carbon offsetting efforts. 
                        We provide access to carbon markets, allowing you to earn and trade carbon credits generated through your reforestation activities.
                    </li>
                    <li class="m-2"><i class='bx bxs-star fs-5 m-1  fw-bold text-success'></i><strong>Accountability and Transparency: </strong> 
                        GreenLead promotes accountability by providing tools and resources to track and document your tree-planting activities.
                    </li>
                    <li class="m-2"><i class='bx bxs-star fs-5 m-1  fw-bold text-success'></i><strong>Networking and Collaboration:</strong> 
                        Join a vibrant community of like-minded tree-planting groups, fostering collaboration and knowledge exchange. 
                    </li>
                   
                    <li class="m-2"><i class='bx bxs-star fs-5 m-1  fw-bold text-success'></i><strong>Advanced Analytics:</strong> 
                        GreenLead offers advanced analytics on sustainable tree-planting practices.
                        Leverage our data-driven insights to optimize your strategies, enhance survival rates, and increase the effectiveness of your reforestation projects.
                    </li>
                  </ul>
          
         
                </div>
                
              </div>


            <!-- end main content -->

         </div>
    </div>
 </div>



</div>



{% endblock %}