{% load static %}

{% include 'partials/_navbar.html' %}



<div id="statement" class="container">
    Do you like going for outdoor nature recreational activities like biking, camping, hiking, game drives, restoration and conservation volunteeering ??
     <br>
     <br>
    Would you wish to leave a mark in the places you wish to visit for leisure ??
    <br>
    <br>
    <span class="releaf3">GreenWatch</span> is looking to partner with outdoor recreational centres for the long goal of 
    increasing our forest cover with your involvement. 
</div>

<div class="container"><hr></div>

<div class="container mt-2 mb-1">
    <div class="row">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-2 py-2"></div>
        <div class="col-6"> 
            <p class="more-info">
                We give individuals a chance to increase our green spaces and their efforts in participation are acknowledged
                with a certificate. 
                <br>
                <br>
                Our citizens are encouraged to take up this initiative and be part of this long journey of restoring back our lost biodiversity
                <br>
                <br>
                <strong>Let's have fun while coloring our spaces green</strong>
            </p>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/gold.jpg' %}" class="card-img-top" alt="...">
                <hr>
                <div class="card-body">
                  
                  <p id="cert-description" class="card-text">Earn a <span class="specify">Gold</span> certificate for contributing to and planting 20 trees</p>
                  
                </div>
              </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/silver.jpg' %}" class="card-img-top" alt="...">
                <hr>
                <div class="card-body align-items-center">
                  <p id="cert-description" class="card-text">Earn a <span class="specify1">Silver</span> certificate for contributing to and planting 20 trees</p>
                  
                </div>
              </div>
        </div>


    </div>
</div>

<div class="container mb-4"> <hr></div>

